* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #15202b;
}

.twitter-frame {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    line-height: 1.3125;
    background-color: #15202b;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #37444d;
    resize: both;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.inner-tweet {
    width: 100%;
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    padding-bottom: 0.5rem;
}

.inner-tweet:not(:first-child) {
    border-bottom: 1px solid #37444d;
}

.profile-image {
}

.profile-image img {
    width: calc(75px - 1rem);
    height: calc(75px - 1rem);
    object-fit: cover;
}

.profile-wrapper {
    width: calc(75px - 1rem);
    height: calc(75px - 1rem);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    border-radius: 100%;
    
}

.tweet-name, .tweet-user, .tweet-time {
    display: inline;
}

.tweet-user, .tweet-time {
    opacity: 0.5;
    font-weight: 300;
}

.tweet-content {
    padding: 0.5rem;
}

.tweet-name {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.tweet-text {
    margin-top: 0.25em;
}

.tweet-user::after {
  content: " ·";
}

.verified-icon {
    height: 1.2em;
    width: 1.2em;
    position: relative;
    top: 4px;
}