.twitter-frame, .twitter-frame * {
    padding: 0;
    margin: 0;
}

.twitter-frame a {
    color: inherit;
    text-decoration: inherit;
}

.twitter-frame a:hover {
    text-decoration: underline;
}

.twitter-frame .innerLink {
    color: #1DA1F2;
}

.twitter-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    line-height: 1.3125;
    background-color: white;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #37444d;
}

.twitter-frame.dark {
    background-color: #15202b;
    color: white;
    border: 1px solid #38444d;
}

.twitter-frame.black {
    background-color: black;
    color: white;
    border: 1px solid #2f3336;
}

.twitter-frame .inner-tweet {
    width: 100%;
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    padding-bottom: 0.5rem;
}

.twitter-frame .inner-tweet:not(:last-child) {
    border-bottom: 1px solid #37444d;
}

.twitter-frame.dark .inner-tweet:not(:last-child) {
    border-bottom: 1px solid #38444d;
}

.twitter-frame.black .inner-tweet:not(:last-child) {
    border-bottom: 1px solid #2f3336;
}




.twitter-frame .profile-image img {
    width: calc(75px - 1rem);
    height: calc(75px - 1rem);
    object-fit: cover;
}

.twitter-frame .profile-wrapper {
    width: calc(75px - 1rem);
    height: calc(75px - 1rem);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    border-radius: 100%;
}

.twitter-frame .tweet-name,
.twitter-frame .tweet-user,
.twitter-frame .tweet-time {
    display: inline;
}

.twitter-frame .tweet-user,
.twitter-frame .tweet-time {
    color: #657786;
    font-weight: 400;
}

.twitter-frame.dark .tweet-user,
.twitter-frame.dark .tweet-time {
    color: #8898a6;
}

.twitter-frame.black .tweet-user,
.twitter-frame.black .tweet-time {
    color: #6e767d;
}

.twitter-frame .tweet-content {
    padding: 0.5rem;
}

.twitter-frame .tweet-name {
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.twitter-frame.dark .tweet-name {
    font-weight: 600;
}

.twitter-frame.black .tweet-name {
    font-weight: 600;
}

.twitter-frame .tweet-text {
    margin-top: 0.25em;
}

.twitter-frame .tweet-time::before {
    content: "· ";
}

.twitter-frame .verified-icon {
    height: 1.2em;
    width: 1.2em;
    position: relative;
    top: 4px;
    filter: grayscale(0);
    filter: brightness(1);
    
}

.twitter-frame.dark .verified-icon {
    filter: grayscale(100%);
    filter: brightness(100);
}

.twitter-frame.black .verified-icon {
    filter: grayscale(100%);
    filter: brightness(100);
}
